.taskbadge {
  font-size: small;
  color: #000000;
  padding: 2.7em 1.7em 4.7em 1.7em;
  background-color: #D3D3D3;
  position: relative;
  left: -1px;
  top: -4px;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.table td{
    border-top : 0px !important;
}
.label-font{
    font-weight: bold !important;
    margin-top: 6px !important;
}
.min-width-171{
    min-width: 171px !important;
}